.services {
   margin-bottom: 170px;
   &__title {
         margin-bottom: 135px;
      }
      &__content {
         @extend %align-list;
         border-radius: 20px;
         background: var(--background-color);
      }
         &__media {
            flex: 0 1 50%;
            margin: -92px 0 -100px;
         }
            &__text {
               flex: 0 1 50%;
               padding-left: 50px;
            }
               &__content-title {
                  font-family: 'Inter', sans-serif;
                  color: var(--primary-text-color);
                  @include font (500, 35px, 130%, 0.03em);
                  margin-bottom: 44px;
                  max-width: 430px;
                  width: 100%;
               }
                  &__content-text {
                     color: var(--primary-text-color);
                     font-family: 'Circe', sans-serif;
                     @include font (400, 20px, 157%, null);
                     max-width: 430px;
                     width: 100%;
                  }
}